/**********************************************
 HERO SECTION
***********************************************/
.hero-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px);
    top: 0;
    left: 0;
}

.hero-container .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex: 1;
}

.hero-container .hero-text .hello {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.hero-container .hero-text .name {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 900;
}

.hero-container .hero-text .description {
    color: var(--dark);
    font-size: 16px;
    margin-bottom: 40px;
}

.hero-container .hero-text .about {
    color: var(--white);
    font-size: 16px;
    display: flex;
}

.hero-container .hero-text .about>a {
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary-color);
    width: auto;
    padding: 16px;
    border-radius: 100px;
    margin: 0 10px;
}

.hero-container .hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-container .hero-image-container .hero-image {
    max-width: 500px;
    height: auto;
}

.hero-content {
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        position: relative;
        height: auto;
    }

    .hero-content{
        flex-direction: column;
    }
    .hero-image {
        max-width: 50%;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
    }
    .hero-container .hero-text .name {
        text-align: center;
    }
}